%center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.container {
    img {
        @extend %center;
        margin-top: 100px;
    }

    .search-bar {
        margin-top: 50px;
    }    
}

.buttons {
    padding-left: 200px;
}
